/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(21, 86, 106);
}

body {
    position: relative;
}

.background {
    background-image: url(../Img/sfondo3.jpg);
    background-size: cover;
    /* background-color:#59aad6; */
    /*height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(235,227,58,1) 3%, rgba(253,183,76,1) 39%, rgba(243,127,85,1) 71%, rgba(245,78,140,1) 96%); */
    /* position: absolute;
    background-image: url(../Img/Balls.jpg);
    background-size: cover; */
    /* object-fit: cover; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
/*     z-index: -1;
    background-image: url(https://cdn.discordapp.com/attachments/1244612183099179058/1244659307056857231/47cc07a06ef6379326bc55c8ec5a8fbd.jpg?ex=6655eacf&is=6654994f&hm=128556c8b01c1e6a01845b5a458468507b9e8f557e577bc42922c4de83c2af60&);
    background-image: url(https://images.unsplash.com/photo-1550537687-c91072c4792d?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; */
}

/* .background-img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
} */

/* BANNER */
.box-modal1 {
    display: none;
    z-index: 2;
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* implementando JS il display: dev-essere cambiato in flex; */
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem auto;
    padding: 4rem;
    /* padding-top: 10rem;
    padding-bottom: 1rem; */
    width: 500px;
    height: auto;
    /* background-color: antiquewhite; */
    background-image: url(../Img/sfondo.png);
    /* border: 1px solid black;  */
    /* border-radius: 50% 50% 100% 100%;
    /* background-image: url(../Img/Postit.png);
    background-size: cover; */
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.box-modal1__title-item {
    font-size: 1rem;
    text-align: center;
    color: rgb(210, 208, 175);
}

#box-modal1__textarea {
    border: 2px double rgb(181, 181, 181);
    /* border: transparent; */
    border-radius: 50% 50% 100% 100%;
    /* background-color: transparent; */
    padding: 30px;
    height: 30vh;
    font-size: 0.8rem;
}

#select-priority {
    margin: auto;
    padding: 5px;
    width: 50%;
    border-radius: 50%;
    text-align: center;
    /* background-color: transparent;
    border: transparent; */
}

/*LAYOUT*/

.layout {
    /*border: 1px solid red;*/
    max-width: 600px;
    padding: 2rem;
    margin: auto;
    min-height: 100vh;
    background-color: rgba(21, 86, 106, 0.7);
    /*background: linear-gradient(132deg, rgba(247,243,116,0.4) 1%, rgba(194,227,99,0.4) 32%, rgba(120,216,158,0.4) 62%, rgba(196,118,226,0.4) 93%);*/
    box-shadow: 0 0 10px black;
}

header {
    margin-bottom: 40px;
    border-radius: 0 0 20px 20px;
    padding: 1rem;
    box-shadow: 0 1.2rem 1rem rgba(0, 0, 0, 0.45);
    /* border: 2px solid blue; */
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(210, 208, 175) 80%);
    text-align: center;
}

/* INSERT CONTAINER */
.insert-container {
    margin: auto;
    width: 75%;
    /* border: 2px solid yellow; */
    height: 3rem;
    /* text-align: center; */
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.insert__input {
    padding: 15px;
    width: 100%;
    height: 1.5rem;
    border-radius: 20px 20px 0 0;
    border: transparent;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.45);
    text-align: center;
    background: linear-gradient(180deg, rgb(210, 208, 175) 50%, rgba(255,255,255,0) 100%);
}

.modal-error {
    z-index: 1;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 20px;
    width: 450px;
    height: 6rem;
    border-radius: 20px;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.45);
    background-color: antiquewhite;
}

.modal-error__txt {
text-align: center;
    color: red;
}

.list__arrow,
.modal-error__btn-OK {
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    font-weight: bold;
    font-size: 1rem;
}

/* BUTTON */
.btn-component, .insert__button,
.list__button {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border: transparent;
    transition: all 4s;
    cursor: pointer;
}

.btn-component > img,
.insert__button > img,
.list__button > img {
    margin: auto;
    height: 1rem;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 100%;
}

/* .list__arrow {
    position: absolute;
} */

/* .insert__button:hover {
    transform: rotate(360deg) scale(1%);
} */

.arrow-up {
    display: none;
}

/* TODO LIST */
.list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.list__card {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.list__container-todo {
    position: relative;
    border-radius: 20px 0 0 20px;
    border: transparent;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.45);
    background: linear-gradient(180deg, rgb(210, 208, 175) 40%, rgba(255,255,255,0) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* transition: all 2s; */
}

.list__title-item {
    height: 2.5rem;
    /* padding: 5px; */
    width: 100%;
    font-size: 1rem;
}

.list__comment {
    padding: 5px;
    /* position: absolute;
    visibility: hidden; */
    /* display: none;
    transition: all 4s; */
}

/* .list__icon {
    border: 1px solid black;
} */

.list__button {
    border-radius: 0 50% 50% 0;
    height: 2.5rem;
}

@media screen and (min-width: 768px) {
    /* .background {
        transform: rotate(-90deg);
        
    } */

    .layout {
        padding: 2rem;
        /* transform: rotate(90deg); */
        max-width: 600px;
    }
}